<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>this is view of '/admin/login'</h1>
<table >
    <tr th:each="prod : ${list}" >
        <td style="border: black 1px solid" th:text="${prod.id}">Onions</td>
        <td style="border: black 1px solid" th:text="${prod.user_name}">Onions</td>
        <td style="border: black 1px solid" th:text="${prod.nick_name}">Onions</td>
    </tr>
</table>

<form ></form>
</body>
</html>
